streamlit
requests
python-dotenv
lxml
PyPDF2
streamlit-option-menu
langchain
langchain-google-genai
faiss-cpu
google-generativeai
google-api-python-client
feedparser
newspaper3k
newsapi-python
pycountry
pywebio
pillow
langchain-community
lxml[html_clean]
